/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

nav{
    background-color: #000000;
}

.navbar-default{
    border: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px none #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:#000000;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.fullscreen-bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video{
    position: absolute;
    top:0;
    left:0;    width:100%;
    height:100%;
}

h3.qual{
  color: #03DAC5;
  font-weight: bold;
}
h1.name{
    color: white;
    font-size: 80px;
}
h1, h2, h3, h4, h5, h6, p{
    color: white;
}

h3.Info{
    color: #03DAC5;
    font-size: 26pt;
    text-align: inherit;

}

.submit{
    background-color: #03DAC5;
    font-size: 15px;
    color: black;
    padding: 13px 30px;
    font-weight: 700;
    border-radius: 5px;
    border:inset;
    margin: 50px;
}

.btn-style {
    padding: 13px 30px;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    border-radius: 0px;
    background: var(--primary-color);
    border: none;
    transition: all .25s ease-in-out;
}

img.borders{
    border-top-color: #03DAC5;
    border-left-color: #03DAC5;
}

.video-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

    .video-container iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

.hero {
    position: relative;
}

.hero-heading {
    position: absolute;
    inset: 0;
    margin: auto;
    text-align: center;
    width: 180px;
    height: 150px;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading-text {
    color: white;
    font-size: 1rem;
}

.hero-register-button {
    font-size: .8rem;
    cursor: pointer;
}

.section-divider {
    height: 1px;
    background-color: #03DAC5;
}

.section {
    margin-bottom: 80px;
}

.section-header {
    padding-top: 100px;
    color: #00ffff;
}
.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card-front .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-front{
    background-color: #03DAC5;
    color: black;
}
.card-back{
    background-color: #03DAC5;
    color: black;
    transform: rotateX(180deg);
}
.card:hover .card-inner{
    transform: rotateX(180deg)
}

/*a:hover .card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: box-shadow 0.3s ease-in-out;
}*/

@media screen and (min-width:800px) {
    .hero-heading {
        width: 600px;
        height: 250px;
        padding: 20px;
    }

    .hero-heading-text {
        color: white;
        font-size: 2rem;
    }

    .hero-register-button {
        font-size: 1rem;
    }
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media(min-width: 992px){
    .container{
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media(min-width: 1200px){
    .container{
        max-width: 1140px;
        margin-right: auto;
        margin-left:auto;
    }
}
@media(min-width: 1280px){
    .container{
        max-width: 1200px;
    }
}
.banner-19 .banner-layer{
    position: relative;
    min-height: 100vh;
}
.main-content-top{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}
.banner-19 .main-content{
    max-width: 500px;
    margin-top: 0px;
}
.banner-19 .main-content h4{
    font-size: 48px;
    line-height: 58px;
    color: #fff;
    font-weight: 700;
}
.banner-19 .main-content p{
    color: #fff;
}

@media (max-width: 1024px){
    .banner-19 .banner-layer{
        min-height: 720px;
    }
}
@media(max-width: 992px){
    .banner-19 .main-content h4{
        font-size:45px;
        line-height: 55px;
    }
    .banner-19 .banner-layer{
        min-height: 680px;
    }
}
@media(max-width: 568px){
    .banner-19 .main-content h4{
        font-size: 40px;
        line-height:50px;
    }
    .banner-19 .banner-layer{
        min-height: 600px;
    }
}
@media(max-width: 400px){
    .banner-19 .main-content h4{
        font-size: 35px;
        line-height: 45px;
    }
}
@media(max-width: 384px){
    .banner-19 .main-content h4{
        font-size: 30px;
        line-height: 40px;
    }
    .brk-btn{
        padding: 12px;
        margin-top: 1em;
    }
}




.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #03DAC5;
    perspective: 1000px;
    margin-top: 20px;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front{
    background-color: #bbb;
    color: black;
}

.flip-card-back{
    background-color: dodgerblue;
    color: white;
    transform: rotateX(180deg)
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #03DAC5;
    color: black;
    background-clip: border-box;
    border: 1px solid #03DAC5;
    border-radius: 0.25rem;
    margin-top: 20px;
}

.service-section .card {
    border: none;
    background: var(--bg-color);
    padding: 20px;
    box-shadow: 0px 0px 40px 0px var(--box-shadow-color);
}
.service-details {
    background: var(--bg-color);
    padding: 30px 20px;
}
.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}
.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}
.pt-5,
.py-5 {
    padding-top: 3rem !important;
}
.p-0 {
    padding: 0 !important;
}
.border-0 {
    border: 0 !important;
}
.d-block {
    display: block !important;
}
.justify-content-center {
    justify-content: center !important;
}
.align-items-center {
    align-items: center !important;
}
